# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / Secrets
.env

# IDE settings
.vscode/
.idea/

investment.db
investment.ico
load_csv_to_db.py
run.bat